
.logo{
    margin: 1rem;
    padding: 1rem 0 0 7rem;
}
.nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    color: var(--Grayish-Blue);
    z-index: 10;
    padding: 0px 10px 20px 10px;
}
.nav a:hover{
    border-style: hidden hidden solid hidden;
    border: 0px 0px 0px 1px;
    border-color: var(--Lime-Green);
}
#button{
    background-image: linear-gradient(to right , #31d35c , #2bb7da);
    padding: 15px 20px 15px 20px;
    border: none;
    border-radius: 25px;
    color: var(--White);
    font-weight: var(--bolder);
    margin-right: 8rem;
    cursor: pointer;
    z-index: 10;
}
#button:hover{

    opacity: 0.5;
}
.nav-icon{
    display: none;
}
.about{
    background-color: var(--White);
}
.head-image{
    left: 100px;
}
.head-text{
    position: relative;
    justify-content: center;
    align-items: center;
}
.head-text h1{
    font-weight:var(--bolder);
    font-size: 40px;
    padding:  30px 0;
}
.head-text p{
    font-size: 15px;
    color: var(--Grayish-Blue);
    line-height: 20px;
    padding: 20px 0;
}
.second-block h1{
    font-weight: var(--bolder);
}
.second-block p {
    color: var(--Grayish-Blue);
    padding: 50px 0 50px 0;
    font-size: 1.3rem;
}
.details{
    padding: 0 20px 0 20px;
}
.details h2{
  font-weight:700;
  margin: 50px 0 50px 0;
}
.details p {
    color: var(--Grayish-Blue);
    line-height: 25px;
    font-weight: var(--bolder);
}
h4{
    font-weight: 400;
    font-size: 30px;
    padding: 100px 0 100px 0;
}
.articles{
    padding: 0 25px 20px 0;
    border-radius: 25px;
}
.articles span{
    font-size: 10px;
    color: var(--Grayish-Blue);
    padding: 15px 0 15px 0;
}
.articles a{
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    margin: 20px 0 20px 0;
}
.articles p{
    font-size: 15px;
    font-weight: 100;
    padding: 20px 0 20px 0;
    color: var(--Grayish-Blue);
    line-height: 20px;
}
.responsive{
    width: 100%;
    height: auto;
}
footer{

    background-color:var( --Dark-Blue);
    padding: 50px 0 50px 0;
}
footer .end-logo{
    position: relative;
    top: 30px;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--White);
}
.social ul{
    position: relative;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    top: 30px;
}
.social ul li {
    padding: 0 3px 0px 3px;
}
.social ul li a{
   
    color: var(--White);
}
.social ul li a:hover{
    
    color: var(--Lime-Green);
}
.footer-details ul li a{
    color: #fff;
    text-decoration: none;
}
.footer-details ul li a:hover{
    color:var(--Lime-Green);
    text-decoration: none;
}
.footer-details ul li{
list-style: none;

}
.end-credits{
    color: #fff;
}
@media screen and (max-width : 768px) {
    .logo{
        padding: 1rem 0 0 2rem;
    }
    .second-block{
        grid-row: 1/4;
    }
    #button{
        margin-right: 2rem;
    }
}
@media screen and (max-width : 425px) {
  
    .nav{
        position: absolute;
        top: 70px;
        left: 20vw;
    }
    .nav-icon{
        display: block;
        position: relative;
        left: 20vw  ;
        cursor: pointer;
    }
    .nav ul {
        display: none;
    }
    .nav ul li {
        margin: 10px 100px 10px 100px;
    }
    .nav a:hover{
        border-style: none;
    }
    #button{
        display: none;
    }
    .head-image{
        display: none;
    }
}