@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');

:root{
    /* Primary colors */
    --Dark-Blue : #2d314d;
    --Lime-Green: #31d35c;
    --Bright-Cyan: #2bb7da;
    /* Neutral colors */
    --Grayish-Blue: #9698a6;
    --Light-Grayish-Blue: #f3f4f6;
    --Very-Light-Gray: #fafafa;
    --White: #ffffff;
    /* Font size */
    --font-size : 18px;
    /* font family */
    --family : 'Public Sans', sans-serif;
    /* font weight */
    --light : 300 ;
    --bold : 400 ;
    --bolder : 700 ;
} 

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--family);
    font-weight: var(--bold);
}
body{
    background-color: var(--Very-Light-Gray);
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--White);
    z-index: 10;
}
.card{
    border-radius: 10px;
    background-color: transparent;
    z-index: 101;
}
.footer-details{

}
.container {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: 7rem;
}
.wrapper-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    overflow-x : hidden;
    overflow-y: visible;
    width: 100%;
}
.wrapper-2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    gap: 10px;
}
.wrapper-3{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}
@media screen and (max-width : 768px) {
    .container{
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        margin-right: 0rem;
        margin-left: 2rem;
    }
    
}
@media screen and (max-width : 425px){
    .container{
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        margin-right: 0rem;
        margin-left: 0rem;
    }
    .wrapper-1{
        grid-template-columns: 1fr;
    }
    .wrapper-2{
        grid-template-columns: 1fr ;
    }
    .wrapper-3{
        grid-template-columns: 1fr;
    }
}